.middle-icon {
	color: rgb(121, 233, 136) !important;
    margin: 0 auto !important;
    margin-top: 30px !important;
}

.header {
    font-size: 3rem !important; 
}
.placeholder {
	height: 100% !important;
	margin-top: 0 !important;
}

.loading-screen {
	padding-top: 150px !important;
	padding-bottom: 400px !important;
}
